site_name: Netflix Mock
site_url:
use_directory_urls: false   # otherwise FastAPI is not able to resolve to 'index.html'
repo_name: sbp-test/netflix-mock
repo_url: https://github.com/ges0909/netflix-mock.git

nav:
- Home: home.md
- Deploy: deploy.md
- API: /docs
- Autodoc:
  - Routers:
    - Users: routers/users.md
    - Todos: routers/todos.md
- Fun:
  - Weather: weather.md
  - Audio: streaming/audio.md
  - Video: streaming/video.md
  - Webcam: streaming/webcam.md
  - DevPi: devpi.md
  - Drawio: drawio.md
- Related: related.md

theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  features:
  - navigation.instant    # instant loading: fetch internal links with XHR
  - navigation.tabs
  - navigation.sections
  - navigation.top
  # - toc.integrate
  - search.suggest
  - search.highlight
  - header.autohide
  - include_next_prev
  palette:
    # light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch-off-outline
      name: Switch to dark mode
    # dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: blue
    accent: blue
    toggle:
      icon: material/toggle-switch
      name: Switch to light mode

markdown_extensions:
- admonition
- codehilite
- pymdownx.highlight:
    linenums: true
- pymdownx.superfences
- pymdownx.tabbed

plugins:
- search
- autorefs
- mkdocstrings:
    handlers:
      python:
        rendering:
          show_source: false
          heading_level: 2
- git-revision-date
- git-revision-date-localized:
    type: date
    fallback_to_build_date: true
- macros
- drawio-exporter:
    cache_dir: ../.drawio-exporter

extra:
  homepage: https://www.syrocon.de/
