site_name: Netflix Mock
site_url:
use_directory_urls: false # otherwise FastAPI is not able to resolve to 'index.html'
repo_name: sbp-test/netflix-mock
repo_url: https://github.com/ges0909/netflix-mock.git

nav:
- Home: home.md
- API: /docs
- Video: /video
- Weather (Proxy): /weather?city=berlin
- Deploy: deploy.md
- Related: related.md
- About: about.md

theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  features:
  - navigation.instant
  - navigation.tabs
  - navigation.sections
  - navigation.top
  - toc.integrate
  - search.suggest
  - search.highlight
  - header.autohide
  palette:
    # light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch-off-outline
      name: Switch to dark mode
    # dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: blue
    accent: blue
    toggle:
      icon: material/toggle-switch
      name: Switch to light mode

markdown_extensions:
- admonition
- codehilite
- pymdownx.highlight:
    linenums: true
- pymdownx.superfences
- pymdownx.tabbed

plugins:
- search
- git-revision-date-localized:
    type: date
    fallback_to_build_date: true

extra:
  homepage: https://www.syrocon.de/
  version:
    provider: mike
